<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Xingyu">
    <link rel="icon" href="{{ url_for('static', filename='fake.ico') }}">

    <title>Fake or Fact</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}">

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fake.css') }}?version=11">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Fake or Fact</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <div class="page">
              {% if entries|length > 1 %}
              <p>Url Entered: {{ entries[0] }}</p>
              <p>Title: {{ entries[1] }}</p>
              {% if entries[2] == "Credible" or entries[2] == "Real News" %}
                <p><h2 id="credible-color">{{ entries[2] }}</h2></p>
              {% else %}
                <p><h2 id="fake-color">{{ entries[2] }}</h2></p>
              {% endif %}

              {% else %}
                {% endif %}
            </div>
              <p class="lead"></p>
              <p></p>
              <p></p>
              <p></p>
            <h1 class="cover-heading">Enter Your URL</h1>
            <form action="{{ url_for('show_contents') }}" method="post" >

                <p><input type="text" name="target_url" class="form-control"></p>
                <p class="lead">
                <input type="submit" name="action" value="Verify" class="btn btn-lg btn-default" />
                </p>

                </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Author: Xingyu, Brian, Xiaojing, Shiyi</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='e10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>